<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="./css/style.css">
        <title>Vue Slider</title>
    </head>
    <body>
        <div id="app">
            <div class="container">
                <div class="button-container">
                    <button id="reverse" @click="reverseAutoplay">Reverse</button>
                    <button id="start" @click="startAutoplay">Start</button>
                    <button id="stop" @click="stopAutoplay">Stop</button>
                </div>
                <div class="slider">
                    <div class="item-left">
                        <div class="main-image" @mouseover="stopAutoplay" @mouseleave="startAutoplay">
                            <img :src="array[item_active].url_image" :alt="array[item_active].url_image">
                            <div class="caption">
                                <h3>{{ array[item_active].title }}</h3>
                                <p>{{ array[item_active].description }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="item-slider">
                        <div class="item" :class="(item_active == index) ? 'active' : ''" v-for="(image, index) in array">
                            <img :src="image.url_image" @click="changeImage(index)">
                        </div>
                        <div class="arrow prev" @click="goToPreviousSlides">&uarr;</div>
                        <div class="arrow next" @click="goToNextSlides">&darr;</div>
                    </div>
                </div>
                <div class="circles-container">
                    <div class="circle" :class="(item_active == index) ? 'active' : ''" v-for="(circle, index) in array"></div>
                </div>
            </div>
        </div>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
        <script src="./js/script.js"></script>
    </body>
</html>